.elements__like {
    height: 19px;
    width: 22px;
    background: transparent url(../../../images/heart_like-btn.svg) no-repeat;
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: url(../../../images/cursors/cursor_hover_btn.svg), pointer;
    transition: opacity 250ms ease-in-out;
}

.elements__like:hover {
    opacity: .5;
}