{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": "off",
    "linebreak-style": 0,
    "import/extensions": [
      "error",
      {
        "js": "ignorePackages"
      }
    ]
  }
}
