.menu__burger{
    display: none;
    cursor: pointer;
}

.menu__burger:hover{
    opacity: .7;
}

.menu__burger:focus{
    opacity: 1;
}

@media only screen and (max-width: 690px) {
    .menu__burger {
        display: block;
    }
}