.elements__collection {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(282px,1fr));
    grid-template-rows: 1fr;
    gap: 20px 17px;
    margin: 0;
    padding: 0;
    z-index: 6;
}