.page {
    width: 100%;
    min-width: 880px;
    max-width: 880px;
    font-family: 'Inter', Arial, sans-serif;
    color: #fff;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 1000px) {
    .page {
        max-width: calc(100% - 100px);
        min-width: 581px;
    }
}

@media only screen and (max-width: 690px) {
    .page {
        max-width: 100%;
        min-width: 320px;
    }
}
